h1 {
  padding-top: 1rem;
  color: $primary-color;
  font: {
    family: $font-title;
    size: 3rem;
    weight: $font-bold;
  }
  line-height: 3rem;
  // Zet font gelijk met ondertitel
  margin-left: -3px;
}

header {
  // nav btn height + 1rem padding
  padding-top: calc(40px + 1rem);
}

.header__subtitle {
  font: {
    weight: $font-semibold;
    size: 1rem;
  }
  color: $primary-transparent;
}

.profiel-img {
  border-radius: 2rem 2rem 0 0;
  margin: {
    right: -2rem;
    left: -2rem;
  }
  width: calc(100% + 4rem);
  max-width: unset;
}

.intro {
  font-size: $font-size-lead;
  line-height: 2rem;
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.foo {
  margin-bottom: 1.5rem;
}
