.hor-scroll-container {
  margin: {
    top: 2rem;
    right: -2rem;
    left: -2rem;
  }
  padding-left: 1rem;
  background-color: hsla(148, 17%, 27%, 0.402);
  overflow: auto;
  white-space: nowrap;
}

.hor-scroll-item {
  display: inline-block;
  padding: 14px;
  svg {
    width: 5rem;
  }
}
