.modal {
  display: none;
  position: fixed;
  inset: 0;
  max: {
    width: 30rem;
    height: 30rem;
  }
  border-radius: 9999px;
  margin: auto;
  text-align: center;
  background-color: $black;
  z-index: 2;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: $white;
    font: {
      weight: $font-bold;
      size: 3rem;
    }
    line-height: 4.25rem;
  }

  &.open {
    display: flex;
  }
}

.no-scroll {
  overflow: hidden;
}
