nav {
  max-width: 375px;
  max-width: $sm;
}

.nav-btn {
  background-color: hsla(148, 17%, 27%, 0.402);
  color: $white;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: $rounded-default;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  position: fixed;
  // 375px - (width btn + margin left body + margin right body)
  margin-left: calc(375px - 6.5rem);
  margin-left: calc($sm - 6.5rem);
  z-index: $z-nav-btn;
  transition: background-color 300ms ease-in-out;

  &:hover {
    background-color: $footer-secondary;
  }
  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 3px $footer-secondary;
  }
}
